<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{admin/main_layout}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit Person details</title>
<meta charset="utf-8">
<meta name="viewport" content="width-device-width, initial-scale 1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popperjs/1.14.7/umd/poppermin.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	
<style>
div.div-outline {
  border: 1px solid;
  outline: 1px grey;
}
</style>
</head>

<body>
	<div layout:fragment="content" class="col" >
	<!--  Error and Information messages and the header -->
	<div th:if="${uimessagewrapper != null and !uimessagewrapper.successMessageList.empty}">
		<div class="alert alert-success">
			<h6 th:each="obj : ${uimessagewrapper.successMessageList}" th:text="${obj}" class="text-success" style="font--size:100%;font-weight:normal;margin-top:0px;margin-bottom:0px">--</h6>
		</div>
	</div>
	<div th:if="${uimessagewrapper != null and !uimessagewrapper.errorMessageList.empty}">
		<div class="alert alert-danger" role="alert">
		<strong>Failed!</strong>
			<h6 th:each="obj : ${uimessagewrapper.errorMessageList}" th:text="${obj}" class="text-danger" style="font-size:100%;font-color: maroon;font-weight:bold;margin-top:0px;margin-bottom:0px">--</h6>
		</div>
	</div>
	
	<header>
		<h6 class="title-agile text-left" style="margin-top: 1px; margin-bottom: 30px; ">Edit Person details</h6>
	</header>
	
		<form name="editpersonform" class="container-fluid  form-horizontal"
			action="#" th:action="@{editdeleteperson_do}" modelAttribute="${legalentityDO}"
			th:object="${legalentityDO}" method="post">
			<div class="row ">
				<label class="control-label col-sm-2 col-form-label-sm"
					for="personId">Person Id</label>
				<div class="col-sm-3">
					<input type="text" readonly="true" class="form-control form-control-sm" id="idPk" placeholder="" name="idPk" th:field="${legalentityDO.idPk}">
					<input type="text" hidden="true" class="form-control form-control-sm" id="version" placeholder="" name="version" th:field="${legalentityDO.version}">
					<input type="text" hidden="true" class="form-control form-control-sm" id="entityObjectTypeRefkey" placeholder="" name="entityObjectTypeRefkey" th:field="${legalentityDO.entityObjectTypeRefkey}">
					<input type="text" hidden="true" class="form-control form-control-sm" id="personId" placeholder="" name="personId" th:field="${legalentityDO.lePersonDO.legalentityIdpk}">
					<input type="text" hidden="true" class="form-control form-control-sm" id="personversion" placeholder="" name="personversion" th:field="${legalentityDO.lePersonDO.version}">
				</div>
			</div>
			
			<div class=" row">
				<label class="control-label col-sm-2 col-form-label-sm"
					for="personnameone">First Name<sup style="color:red;">*</sup></label>
				<div class="col-sm-3">
					<input required type="text" class="form-control form-control-sm" id="personnameone"th:field="${legalentityDO.lePersonDO.personnamesDOList[__0__].nameOne}"  placeholder="" name="personnameone" >
					<input hidden="true" type="text" class="form-control form-control-sm" id="personnameone"th:field="${legalentityDO.lePersonDO.personnamesDOList[__0__].idPk}"  placeholder="" name="personnameone" >
					<input hidden="true" type="text" class="form-control form-control-sm" id="personnameone"th:field="${legalentityDO.lePersonDO.personnamesDOList[__0__].version}"  placeholder="" name="personnameone" >
				</div>
			</div>
			
			
			<div class=" row">
				<label class="control-label col-sm-2 col-form-label-sm"
					for="personLastName">Last Name<sup style="color:red;">*</sup></label>
				<div class="col-sm-3">
					<input required type="text" class="form-control form-control-sm"
						id="personLastName" placeholder="" name="personLastName"
						th:field="${legalentityDO.lePersonDO.personnamesDOList[__0__].lastName}">
				</div>
			</div>
			
			<div class=" row">
				<label class="control-label col-sm-2 col-form-label-sm"
					for="personNickName">Nick Name</label>
				<div class="col-sm-3">
					<input type="text" class="form-control form-control-sm"
						id="personNickName" placeholder="" name="personNickName"
						th:field="${legalentityDO.lePersonDO.personnamesDOList[__0__].nickName}">
				</div>
			</div>
			
			<div class=" row">
				<label class="control-label col-sm-2 col-form-label-sm" for="Gender">Gender<sup style="color:red;">*</sup></label>
				<div class="col-sm-2">
					<select class="form-control form-control-sm" id="Gender" name="Gender" th:field="*{lePersonDO.genderRefkey}">
					    <option th:each="refGenderDO, itemStat : ${txnPayload.refGenderDOList}" th:value="${txnPayload.refGenderDOList[__${itemStat.index}__].key}" 
					    th:text="${txnPayload.refGenderDOList[__${itemStat.index}__].value}">
   						 </option>
    				</select>
				</div>
			</div> 

			<!-- Phone Number block -->
			<div class="row">
				<span class="control-label col-sm-2 col-form-label-sm">Contact Details</span>
			</div>
			<div class="row">
				<label class="control-label  col-sm-2 col-form-label-sm"
					for="mobile">Mobile<sup style="color:red;">*</sup></label>
					
				<div class="col-sm-2">
					<input required type="text" class="form-control form-control-sm" id="mobile" placeholder="" name="mobile" 
					th:each="lePhoneAssocDO, itemlephone : *{lePhoneAssocDOList}" 
					th:if="*{lePhoneAssocDOList[__${itemlephone.index}__].phoneTypeRefkey} == '1'" 
					th:field="*{lePhoneAssocDOList[__${itemlephone.index}__].phoneNumber}">
					<input hidden="true" type="text" class="form-control form-control-sm" th:each="lePhoneAssocDO, itemlephone : *{lePhoneAssocDOList}" 
					th:if="*{lePhoneAssocDOList[__${itemlephone.index}__].phoneTypeRefkey} == '1'" th:field="*{lePhoneAssocDOList[__${itemlephone.index}__].phoneTypeRefkey}">					
					<input hidden="true" type="text" class="form-control form-control-sm" th:each="lePhoneAssocDO, itemlephone : *{lePhoneAssocDOList}" 
					th:if="*{lePhoneAssocDOList[__${itemlephone.index}__].phoneTypeRefkey} == '1'" th:field="*{lePhoneAssocDOList[__${itemlephone.index}__].idPk}">
					<input hidden="true" type="text" class="form-control form-control-sm" th:each="lePhoneAssocDO, itemlephone : *{lePhoneAssocDOList}" 
					th:if="*{lePhoneAssocDOList[__${itemlephone.index}__].phoneTypeRefkey} == '1'" th:field="*{lePhoneAssocDOList[__${itemlephone.index}__].version}">
				</div>
				
				
			<label class="control-label col-form-label-sm"
					for="Landline">Landline</label>
					
				<div class="col-sm-2">
					<input type="text" class="form-control form-control-sm" id="Landline" placeholder="" name="Landline" th:each="lePhoneAssocDO, itemlephone : *{lePhoneAssocDOList}" 
					th:if="*{lePhoneAssocDOList[__${itemlephone.index}__].phoneTypeRefkey} == '2'" th:field="*{lePhoneAssocDOList[__${itemlephone.index}__].phoneNumber}">
					<input hidden="true" type="text" class="form-control form-control-sm" th:each="lePhoneAssocDO, itemlephone : *{lePhoneAssocDOList}" 
					th:if="*{lePhoneAssocDOList[__${itemlephone.index}__].phoneTypeRefkey} == '2'" th:field="*{lePhoneAssocDOList[__${itemlephone.index}__].phoneTypeRefkey}">
					<input hidden="true" type="text" class="form-control form-control-sm" th:each="lePhoneAssocDO, itemlephone : *{lePhoneAssocDOList}" 
					th:if="*{lePhoneAssocDOList[__${itemlephone.index}__].phoneTypeRefkey} == '2'" th:field="*{lePhoneAssocDOList[__${itemlephone.index}__].idPk}">
					<input hidden="true" type="text" class="form-control form-control-sm" th:each="lePhoneAssocDO, itemlephone : *{lePhoneAssocDOList}" 
					th:if="*{lePhoneAssocDOList[__${itemlephone.index}__].phoneTypeRefkey} == '2'" th:field="*{lePhoneAssocDOList[__${itemlephone.index}__].version}">					
				</div>
				
				<label class="control-label col-form-label-sm"
					for="mobile">e-mail</label>
					
				<div class="col-sm-3">
					<input type="text" class="form-control form-control-sm" id="email" placeholder="" name="email" th:each="lePhoneAssocDO, itemlephone : *{lePhoneAssocDOList}" 
					th:if="*{lePhoneAssocDOList[__${itemlephone.index}__].phoneTypeRefkey} == '3'" th:field="*{lePhoneAssocDOList[__${itemlephone.index}__].phoneNumber}">
					<input hidden="true" type="text" class="form-control form-control-sm" th:each="lePhoneAssocDO, itemlephone : *{lePhoneAssocDOList}" 
					th:if="*{lePhoneAssocDOList[__${itemlephone.index}__].phoneTypeRefkey} == '3'" th:field="*{lePhoneAssocDOList[__${itemlephone.index}__].phoneTypeRefkey}">
					<input hidden="true" type="text" class="form-control form-control-sm" th:each="lePhoneAssocDO, itemlephone : *{lePhoneAssocDOList}" 
					th:if="*{lePhoneAssocDOList[__${itemlephone.index}__].phoneTypeRefkey} == '3'" th:field="*{lePhoneAssocDOList[__${itemlephone.index}__].idPk}">
					<input hidden="true" type="text" class="form-control form-control-sm" th:each="lePhoneAssocDO, itemlephone : *{lePhoneAssocDOList}" 
					th:if="*{lePhoneAssocDOList[__${itemlephone.index}__].phoneTypeRefkey} == '3'" th:field="*{lePhoneAssocDOList[__${itemlephone.index}__].version}">					
				</div>
				
			</div>
		

			<!-- Address block -->
			<div class="row col-sm-2">
				<span class="control-label col-form-label-sm">Address</span>
			</div>
			<div th:each="leAddressAssocDO, itemStat : *{leAddressAssocDOList}">
				<div hidden="true"> <input type="text" hidden="true" th:field="*{leAddressAssocDOList[__${itemStat.index}__].addressTypeRefkey}" />
				 <input type="text" hidden="true" th:field="*{leAddressAssocDOList[__${itemStat.index}__].addressSubtypeRefkey}" />
				 <input type="text" hidden="true" th:field="*{leAddressAssocDOList[__${itemStat.index}__].idPk}" />
				 <input type="text" hidden="true" th:field="*{leAddressAssocDOList[__${itemStat.index}__].version}" />
				</div>		
				<div class="row ">
					
					<label class="control-label col-sm-2 col-form-label-sm"
						for="addressLineOne">address Line One<sup style="color:red;">*</sup></label>
					<div class="col-sm-3">
						<input required type="text" class="form-control form-control-sm"
							id="addressLineOne" placeholder="" name="addressLineOne"
							th:field="*{leAddressAssocDOList[__${itemStat.index}__].addressDO.addressLineOne}" />
					</div>
					
					<label class="control-label col-sm-2 col-form-label-sm"
						for="houseNumber">House Number</label>
					<div class="col-sm-3">
						<input type="text" class="form-control form-control-sm" th:field="*{leAddressAssocDOList[__${itemStat.index}__].addressDO.houseNumber}" id="houseNumber" placeholder="" name="houseNumber" />
						<input hidden="true" type="text" class="form-control form-control-sm" th:field="*{leAddressAssocDOList[__${itemStat.index}__].addressDO.idPk}" id="houseNumber" placeholder="" name="houseNumber" />
						<input hidden="true" type="text" class="form-control form-control-sm" th:field="*{leAddressAssocDOList[__${itemStat.index}__].addressDO.version}" id="houseNumber" placeholder="" name="houseNumber" />	
							
							
					</div>
				</div>
				<div class="row ">
					<label class="control-label col-sm-2 col-form-label-sm"
						for="addressLineTwo">Address Line two</label>
					<div class="col-sm-3">
						<input type="text" class="form-control form-control-sm"
							id="addressLineTwo" placeholder="" name="addressLineTwo"
							th:field="*{leAddressAssocDOList[__${itemStat.index}__].addressDO.addressLineTwo}" />
					</div>
					<label class="control-label col-sm-2 col-form-label-sm"
						for="addressLineThree">Address Line three</label>
					<div class="col-sm-3">
						<input type="text" class="form-control form-control-sm"
							id="addressLineThree" placeholder="" name="addressLineThree"
							th:field="*{leAddressAssocDOList[__${itemStat.index}__].addressDO.addressLineThree}" />
					</div>
				</div>
				<div class="row ">
					<label class="control-label col-sm-2 col-form-label-sm"
						for="city">City<sup style="color:red;">*</sup></label>
					<div class="col-sm-3">
						<input required type="text" class="form-control form-control-sm"
							id="city" placeholder="" name="city"
							th:field="*{leAddressAssocDOList[__${itemStat.index}__].addressDO.city}" />
					</div>
					<label class="control-label col-sm-2 col-form-label-sm"
						for="postalCode">PIN/ZIP Code</label>
					<div class="col-sm-3">
						<input type="text" class="form-control form-control-sm"
							id="postalCode" placeholder="" name="postalCode"
							th:field="*{leAddressAssocDOList[__${itemStat.index}__].addressDO.postalCode}" />
					</div>
				</div>
				<div class="row">
					<label class="control-label col-sm-2 col-form-label-sm"
						for="stateProvinceRefkey">State</label>
					<div class="col-sm-3">
						<select class="form-control form-control-sm" id="stateProvinceRefkey" name="stateProvinceRefkey"  th:field="*{leAddressAssocDOList[__${itemStat.index}__].addressDO.stateProvinceRefkey}">
						<option th:each="refStateProvinceDO, itemStatphone : ${txnPayload.refStateProvinceDOList}" th:value="${txnPayload.refStateProvinceDOList[__${itemStatphone.index}__].key}" 
							    th:text="${txnPayload.refStateProvinceDOList[__${itemStatphone.index}__].value}">
						</option>
						</select>
					</div>
					<label class="control-label col-sm-2 col-form-label-sm"
						for="countryRefkey">Country</label>
					<div class="col-sm-3">
						<select class="form-control form-control-sm" id="countryRefkey" name="countryRefkey"
							th:field="*{leAddressAssocDOList[__${itemStat.index}__].addressDO.countryRefkey}">
						<option th:value="356" th:text="India"></option>
						</select>
					</div>
				</div>
			</div>
			
			<button type="button" class="btn btn-primary" data-toggle="modal" th:data-target="'#confirmSaveModal'" th:text="Save" th:disabled="${readonlyform}"> </button>
			<button type="button" class="btn btn-primary" data-toggle="modal" th:data-target="'#confirmDeleteModal'" th:text="Delete" th:disabled="${readonlyform}"> </button>
			
				<!--  Save confirmation Modal -->
					 <div th:id="confirmSaveModal" class="modal" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
					<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title">Confirm</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden= "true">&times;</span>
					</button>
					</div>
					<div class="modal-body">
					<p style="color: maroon ">Do you wish to continue making the changes?</p>
					</div>
					<div class="modal-footer">
					<button id="btnconfirmSaveModalSave" type="submit" name="action" th:value="editsave" th:text="Save" class="btn btn-primary"></button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
					</div>
					</div>
					</div>
					
			<!--  Delete confirmation Modal -->
					 <div th:id="confirmDeleteModal" class="modal" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
					<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title">Confirm</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden= "true">&times;</span>
					</button>
					</div>
					<div class="modal-body">
					<p style="color: maroon ">Do you wish to continue making the changes? The changes can not be reversed after deletion</p>
					</div>
					<div class="modal-footer">
					<button id="btnconfirmDeleteModalProceed" type="submit" name="action" th:value="delete" th:text="Proceed" class="btn btn-danger"></button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
					</div>
					</div>
					</div>
					

					<!-- <script>
						$('#btnconfirmSaveModalSave').click(function(){
							$('#confirmSaveModal').modal('toggle');
						});
					</script> -->
		</form>

	</div>
	</div>
</body>
</html>