
<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml" style="width: 100%; background-color:#e60000">
<!-- Static navbar -->
<nav class="navbar navbar-expand-sm navbar-dark no-gutters"  style="background-color:#660000">
<ul class="navbar-nav">
<li class="nav-item"><a class="nav-link no-gutters text-white" href="#" th:href="@{/admin/}"><b>Admin Home</b></a></li>
<li class="nav-item"><a class="nav-link disabled no-gutters text-light" href="#" > <b >About</b></a></li>
<li class="nav-item"><a class="nav-link disabled no-gutters text-light" href=" # " ><b>Help</b></a></li>
<li class="nav-item"><a class="nav-link no-gutters text-light" href="#" style="color: white" th:href="@{/version}"><b>Version</b></a></li>
</ul>
</nav>
<div class="bg-info"><h6 style="text-align: center" class="text-white"></h6></div>
</header>
