<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{admin/main_layout}" 
xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Inventory Management</title>
<meta charset="utf-8">
<meta name="viewport" content="width-device-width, initial-scale 1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popperjs/1.14.7/umd/poppermin.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div layout:fragment="content" class="col">
<div class="jumbotron text-left" style="background-color:#ffebcc">
<h1>Welcome to Inventory Management Tool</h1>
<p>-> You can Maintain the Inventory here</p>
<p>-> Store the Brahmhachari details and issued items</p>
<p>-> Download the reports </p>
<br/>
<p> Start by selecting your action from left Navigation pane </p>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
</div>
</div>
</body>
</html>